/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; }

body {
    font-size: 20px;
    line-height: 32px;
    font-family: "Arial";
    color: #33334d;
}

h1 {
    font-size: 40px;
    color: #c2c2d6;
}

h2 {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 800px;
}

header, footer, footer a {
    text-align: center;
    background-color: #666699;
    color: whitesmoke;
}

header img {
    width: 140px;
    height: auto;
    float: right;
}

footer {
    font-size: 16px;
}