* { margin: 0; box-sizing: border-box; }

body {
    font-size: 20px;
    line-height: 32px;
    font-family: "Arial";
    color: #33334d;
    background-color: #d4d4de;
}

h1 {
    font-size: 40px;
    color: #d4d4de;
}

h2 {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 800px;
}

header, footer, footer a {
    text-align: center;
    background-color: #090921;
    color: whitesmoke;
}

header img {
    width: 275px;
    height: 500px;
    float: right;
    padding-top: 135px;
}

main {
    border: 1px solid #090921;
}

footer {
    font-size: 16px;
}