body {
    background-color: #d4d4de;
}

nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: #090921;	
}

.navbar {
    display: flex;
	list-style: none;
	text-align: center;
	padding: 0;
}

.navbar li {
	border: 1px solid #616165;
    display: block;
    flex: 6 6 1%;
}

.navbar a {
	display: block;
	color: #d4d4de;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
}

.navbar a:hover {
    color: black;
	background-color: #7d7d81;
}

header {
    width: 100%;
    text-align: center;
    justify-content: center;
    font-style: italic;
    font-family: 'Staatliches', cursive;
    color: #d4d4de;
    letter-spacing: 4px;
    background-color: #090921;
    border: solid thick #7d7d81;
    font-size: 20px;
}

.main-div {
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #7d7d81;
    border-radius: 10px;
}

.logo {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    color: #090921;
    text-decoration: underline;
}

p {
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
}

#center-list{
    width: 25%;
    margin: auto;
}

.scenarios {
    text-align: left;
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
}

table {
    align-content: center;
    font-family: 'Poppins', sans-serif; 
    border-collapse: collapse;
    box-shadow: 15px 15px 25px #090921;
    width: 50%;
}

caption, td, th {
    padding: 0.5em;
    border: 2px solid #7d7d81;
}

th {
    background-color: #090921;
    color: #d4d4de;
    font-weight: bold;
    font-size: 25px;
}

td:first-child {
    font-weight: bold;
    width: 150px;
}

#color {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid #090921;
}

span {
    display:table;
    margin: 0 auto;   
}

.staatliches {
    font-family: 'Staatliches', cursive;
    font-size: 25px;
}

.poppins {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

footer {
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: #d4d4de;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: #090921;
    border: solid thick #7d7d81;
    padding: 10px;
}

.footer-byui {
    color: #d4d4de;
}
