
*  { margin: 0; box-sizing: border-box; }

body {
    font-family: 'Poppins', sans-serif; 
    max-width:1200px;
    margin:0 auto;
    background-color: rgb(9, 9, 33);
}

header {
    margin: 1.5em 0.5em;
    text-align: center;
    padding: 1em;
    background-color: rgb(190, 180, 240);
    color: black;
    letter-spacing: 5px;
}

h1 {
    color: darkslateblue;
    font-size:2em;
    font-weight: bold;
}

h2 {
    text-align:center;
    font-size: 2em;
    color: darkslateblue;
    margin: 1em;
}

main {
    display:grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin:0 auto;
}

figure {
    background-color: rgb(190, 200, 255);
    text-align:center;
    margin: 0.5em;
	padding: 0 1em;
    }

img {
    width: 350px;
    height: auto;  
}

footer {
    background-color: rgb(190, 180, 240);
    font-family: 'Poppins', sans-serif; 
    color: darkslateblue;
    font-size: 18px;
    flex-direction: column;
    text-align: center; 
    margin: 10px auto;
    padding: 10px 0;
}

.footer-byui {
    color:white;
}