* { margin: 0; box-sizing: border-box; }

body {
    font-size: 20px;
    line-height: 32px;
    font-family: "Verdana";
    color: #161925;
}

h1 {
    font-size: 40px;
    font-family: "Century Gothic";
    color: #23395b;
}

h2 {
    font-size: 30px;
    font-family: "Century Gothic";
    text-align: center;
    color: #468189;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    padding: .5rem;
}

header, footer, footer a {
    text-align: center;
    background-color: #d2ffff;
    color: whitesmoke;
}

header img {
    width: 140px;
    height: auto;
    float: right;
}

footer {
    font-size: 16px;
}