/* Media Query for medium + screens */

/*Hamburgur button configuration*/

@media only screen and (min-width: 70em) {
	
.navbar {
    display: flex;
}
    
.navbar li:first-child {
    display: none;
}
    
.navbar li {
    display: block;
    flex: 6 6 1%;
}
    
.navbar li a {
    color: white;
    font-size: 18px;
}
    
.logo {
    width: 150px;
    height: 100%;
}  
    
.header-name{
    font-size: 35px;
}
   
#home-temple {
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #c2bca9;
}
    
#home-temple-div {
  width: 48%;
  flex: 1 0 15em;
}    

.header-motto {
    font-size: 20px;
}
    
footer{
    font-size: 18px;
}   
    

}
