@media only screen and (min-width: 35em) {

.logo {
    width: 150px;
    height: 100%;
}    

footer {
    font-size: 15px;
}

#home-temple {
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #c2bca9;
}
    
#home-temple-div {
    width: 48%;
    flex: 1 0 15em;
}
    
} 