/* Header, Nav, and general CSS for all pages */

body {
    background-color: #d4d4de;
}

nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: #090921;	
}

.currentpage {
    color: black;
    background-color: #616165;
}

.navbar {
	list-style: none;
	text-align: center;
	padding: 0;
}

.navbar li {
	border: 1px solid #7d7d81;
    display: none;
    flex: 6 6 1%;
}

.navbar li:first-child {
    display: block;
}

.navbar a {
	display: block;
	color: #d4d4de;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
}

.navbar a:hover {
    color: black;
	background-color: #7d7d81;
}

.dropdown li {
    display: block;
}

header {
    width: 100%;
    display:flex; 
    justify-content: center;
    font-style: italic;
    font-family: 'Staatliches', cursive;
    background-color: #090921;
    border: solid thick #616165;
}

.logo {
    width: 150px;
    height: 100%;
}

#header {
    display: flex;
    flex-direction: column;
}

#company-motto {
    font-style: italic;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
    color: #d4d4de;
    margin-left: 20px;
    padding-right: 5px;
}

#company-name {
    font-style: italic;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    color: #d4d4de;  
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    text-align: center;
    color: rgb(170, 170, 200);
    font-size: 40px;
}

main {
    max-width: 400px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 25px auto;
    padding: 15px 0;
}

h2 {
    font-family: 'Poppins', sans-serif; 
    font-size: 40px;
    text-align: center;
    color: black;
    text-shadow: 0px 0px 20px #090921;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: italic;
}

/* Home Page */

.homepage {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;  
    margin: auto; 
    grid-gap:15px;
    padding-bottom: 30px;
}

.homepage section {
    background-color: #090921;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    color: #d4d4de;
    font-family: 'Poppins', sans-serif; 
    font-size: 17px;
    text-align: center;
    box-shadow: 0px 0px 20px #090921;
}

.homepage h1 {
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    text-align: center;
    color: rgb(170, 170, 200);
    font-size: 20px;
}

.homepage h2 {
    font-family: 'Poppins', sans-serif; 
    font-size: 30px;
    text-align: center;
    color: #d4d4de;
    text-shadow: 0px 0px 20px white;
}

.homepage h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: italic;
}

.homepage img {  
    margin: 10px 20px 20px;
    width: 325px;
    height: 450px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 0px 0px 20px #d4d4de;
}

.homepage img {
    filter: blur(0em);
    transition: filter 0.3s;
}

.homepage img[data-src] {
    filter: blur(0.6em);
}

/* Preston, Soda Springs, and Fish Haven CSS */

.banner {
    position: relative;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

.banner-image {
    display: block;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 400px;
}

.forecast {
    display:none;
}

.summary {
    position:absolute;
    top: 60px;
    left: 40px;
    opacity: 0.75;
    text-align:left;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #090921;
    color: #d4d4de;
    box-shadow:0 0 30px white;
    padding: 0.8em;
    border: 1px solid #7d7d81;
}

.summary h3 {
    text-decoration: underline;
}

.article-section {
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color:#090921;
    color: #d4d4de;
    border: 2px solid #7d7d81;
    margin: 10px auto;
    margin-top: 30px;
}

.article, .article-writing {
    width: 50%;
    flex: 1 0 15em;
}

.article-image {
    max-width: 50%;
    height: 400px;
    box-shadow: 0px 0px 30px white;
}

.article-writing {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding-top: 25px;
}

.article-writing h3 {
    text-shadow: 0px 0px 20px white;
}

#more {
    display: none;
}

.events {
    padding: 1em;
    display: block;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color:#090921;
    color: #d4d4de;
    border: 2px solid #7d7d81;
    margin: 10px auto;
    margin-top: 30px;
}

.event-title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #d4d4de;
    font-size: 30px;
    text-shadow: 0px 0px 20px white;
}

.event-p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #d4d4de;
}

.event-image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 400px;
    box-shadow: 0px 0px 30px white;
}

/* Storm Center and Thank You pages */

#reportstorm {
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-family: 'Staatliches', cursive;
    color: #090921;
    font-size: 50px;
    text-shadow: 0px 0px 20px #7d7d81;
}

#personalinfo {
    padding: 1em;
    justify-content: center;
    align-items: center;
    background-color: #d4d4de;
    border: solid thick #7d7d81;
    font-family: 'Poppins', sans-serif;
}

.required {
    color: darkred;
}

#storminfo {
    padding: 1em;
    justify-content: center;
    align-items: center;
    background-color: #d4d4de;
    border: solid thick #7d7d81;
    font-family: 'Poppins', sans-serif;
}

#additionalinfo {
    padding: 1em;
    justify-content: center;
    align-items: center;
    background-color: #d4d4de;
    border: solid thick #7d7d81;
    font-family: 'Poppins', sans-serif;
}

.submitbutton {
    background-color: #d4d4de;
    border: solid 2px black;
    padding: 1em;
    margin-bottom: 1.5%;
    width: 200px;
    font-family: 'Poppins', sans-serif;
}

.submitbutton:hover {
    background-color: #7d7d81;
}

.thankyou {
    padding: 1em;
    justify-content: center;
    text-align: center;
    background-color: #d4d4de;
    border: solid thick #7d7d81;
    font-family: 'Poppins', sans-serif;
}


/* Gallery page */

#gallery {
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-family: 'Staatliches', cursive;
    color: #090921;
    font-size: 40px;
    text-shadow: 0px 0px 20px #7d7d81;
}

img {
    filter: blur(0em);
    transition: filter 0.3s;
}

img[data-src] {
    filter: blur(0.6em);
}

.table {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    margin: 30px;
}

figure {
    margin:0;
    box-shadow: 7px 7px 7px 2px #7d7d81;
}

figcaption {
    background-color: #090921;
    font-style: italic;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.image:hover {
    box-shadow: 0 0 75px black;
}

.gallery-image {
    width: 100%;
    height: 350px;
}

/* Contact Details and Footer for all pages */

.contact {
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    border-style: solid;
    border-color: #7d7d81;
    border-radius: 10px;
}

.contact-info {
    padding: 15px;
}

.preston-contact {
    width: 330px;
    height: 330px;
    border-style: solid;
    border-color: #7d7d81;
    border-width: 1px;
}

#contact-us {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: italic;
}

.social-media {
    width: 30px;
    height: 30px;
}

footer {
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: white;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: #090921;
    border: solid thick #616165;
    padding: 20px;
}

.footer-byui {
    color:white;
}